body{
    padding: 2rem;
    font-weight: bold;
    background-image: url("../img/libros.jpg");
    background-position-x: 35rem;
}

header{
    justify-content: center;
}

#button{
    display: flex;
}

#button li{
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    justify-content: center;
    
}

li:hover{
    background-color: rgb(29, 29, 29);
}

nav{
    background-color: rgb(0, 0, 0);
    justify-content: center;
    
}

a{
    
    font-size: 2em;
    padding: 1em;
    color: white;
    text-decoration: none;
    justify-content: center;
}   