body{
    
    font-weight: bold;
    background-image: url("../img/libros.jpg");
    background-position-x: 35rem;
    background-size: cover;
}

header{
    justify-content: center;
}

nav{
    
    background-color: rgb(0, 0, 0);     
    
}

a{
    
    font-size: 2em;
    padding: 1em;
    color: white;
    text-decoration: none;
    justify-content: center;
}  

#button{
    display: flex;
    justify-content: center;
}

#button li{
    display: flex;
    flex-direction: row;
    padding: 0 1em;    
    border-radius: 1rem;
    
}

li:hover{
    background-color: rgb(29, 29, 29);
}



 

#center{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    
}

#center article{
    border: 10px;
}